body{background-color: #313552;
text-align: center;
}

p{line-height: 1.5;
font-family: 'Satisfy', cursive;
font-size: 40px;
color: #B8405E;}

h1, h2{font-family: 'Roboto', satisfy;
color: #EEE6CE;}


a{text-decoration: none;
padding: 0 30px;
display: inline-block;
}


.d{background-color: gold;}

.a{margin: 40px;}

.line{border-color: #FF5959;
border-style: dotted;
width: 6%;
border-bottom: none;
border-width: 8px;
margin: auto;}


.row{background-color: #343A40;
  height: 50px;
}

.a1{color: #fff;
}

.col-lg-4{color: #fff;
font-weight: 500;
border: 1px solid white;
font-size: 2rem;}

.col-lg-4:hover{background-color: #FFBD9B;}

.img{width: 50%;
margin: 5%;}

.btn{margin-bottom: 20px;
padding: 20px;}
.btn:hover{background-color: #398AB9;}

@media (max-width: 768px) {
  .er{display: block;}}
